sudo: false
addons:
  apt:
    packages:
      - libicu-dev
before_install:
  - gem update bundler
language: ruby
rvm:
  - 2.2
  - 2.3
  - 2.4
env:
  global:
    secure: n8eyxYYfxLApgR4YGKqbrOgGlraIyLyoql4K4DvLZV4kqfGf9LLsPdP7Shudqrv5k2h8xIwnJVnwcPZx9YCu5WWYrJd7vmivpU2j52LwFPYRM+GFNcu7TXmzcNSPG8agnc5We9amF5zJY6XSTpzWpxyqfIwEZM75iR6XXuHuLFk=
cache: bundler
